<!-- views/404.ejs -->
<div class="position-relative text-center d-flex flex-column justify-content-center align-items-center gap-2 mt-4">
    <div id="404-text">
        <div id="pokemon-page-info" class="row justify-content-center">
            <h1><%- product.product %></h1>
            <p class="col-12 col-md-8"><%- product.description %></p>
        </div>
    </div>
</div>

<button type="button" class="btn custom-button" id="add-to-cart" onclick="addToCartFunction(
        {id: '<%= product.id %>', 
        quantity: 1, 
        product: '<%= product.product %>',
        imagepath: '<%= product.imagepath %>', 
        price:'<%= product.price %>' })">
    Add Item to Cart</button>


<script>
    const addToCartFunction = ({ id, quantity, product, imagepath, price }) => {
        const newItem = { id, quantity, product, imagepath, price };
        let tempCart = [];
        const currentCart = JSON.parse(localStorage.getItem("cart"));

        if (currentCart && Array.isArray(currentCart)) {
            tempCart = currentCart;
        }

        // check if there is an existing item with matching id in cart 
        const existingItem = tempCart.find(item => item.id === newItem.id);
        if (existingItem) {
            existingItem.quantity += newItem.quantity;
        } else {
            tempCart.push(newItem);
        }
        console.log(tempCart);
        localStorage.setItem("cart", JSON.stringify(tempCart));
    };

</script>