<!-- views/404.ejs -->
<div class="position-relative text-center d-flex flex-column justify-content-center align-items-center gap-2 mt-4">
    <div id="404-text">
        <div id="pokemon-page-info" class="row justify-content-center">
            <h1><%- product.product %></h1>
            <p class="col-12 col-md-8"><%- product.description %></p>
        </div>

        <img class="product-image w-100 mb-4" src="<%- product.imagepath %>" alt="<%- product.product %>">



    </div>
</div>
<p id="success-addition" class="col-12 col-md-8 text-center text-success"></p>

<!-- pass product object as stringified json so you can save the image path correctly -->
<button type="button" class="btn custom-button" id="add-to-cart" data-product='<%- JSON.stringify(product) %>'
    onclick="addToCartFromButton(this)">
    Add to Cart</button>


<script>
    const addToCartFromButton = (button) => {
        const product = JSON.parse(button.getAttribute("data-product"));
        product.quantity = 1; // Add default quantity
        addToCartFunction(product);
    }

    const addToCartFunction = async ({ id, quantity, product, imagepath, price }) => {
        // before adding items to cart, check if user is logged in from local storage
        const username = localStorage.getItem("username");
        const password = localStorage.getItem("password");

        const response = await fetch('/account/check-auth', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        });

        if (response.ok) {
            const newItem = { id, quantity, product, imagepath, price };

            let tempCart = [];
            const currentCart = JSON.parse(localStorage.getItem("cart"));

            if (currentCart && Array.isArray(currentCart)) {
                tempCart = currentCart;
            }

            // check if there is an existing item with matching id in cart 
            const existingItem = tempCart.find(item => item.id === newItem.id);
            if (existingItem) {
                existingItem.quantity += newItem.quantity;
            } else {
                tempCart.push(newItem);
            }
            localStorage.setItem("cart", JSON.stringify(tempCart));

            // show success message
            document.getElementById("success-addition").textContent = "Added to cart successfully!";

        } else {
            window.location.href = '/account';
        }
    };

</script>