<!-- views/products.ejs -->
<div class="d-inline-block text-center container px-2">
    <div id="product-page-info" class="row justify-content-center">
        <h1>
            <%= title %>
        </h1>
        <p class="col-12 col-md-8">
            Browse our complete collection of Pokémon cards available in the store. Whether you're
            hunting for a classic favorite or something new, we've got them all. Use the
            <strong>"Type"</strong>
            filters below to quickly find cards by Pokémon type and click on the card to view more
            details!
        </p>
    </div>

    <div id="type-button-filters" class="row align-items-center justify-content-center gap-5 col-md-8 col-12 "></div>
    <a href="/products" class="btn col mb-1 custom-button">All</a>
    <a href="/products/fire" class="btn col mb-1 custom-button">Fire</a>
    <a href="/products/water" class="btn col mb-1 custom-button">Water</a>
    <a href="/products/grass" class="btn col mb-1 custom-button">Grass</a>
    <a href="/products/electric" class="btn col mb-1 custom-button">Electric</a>
</div>

<div id="products" class="mt-4 d-flex flex-wrap justify-content-center gap-5">
    <% products.forEach((product)=> { %>
        <div class="d-flex flex-column justify-content-center align-items-center gap-3">
            <a href="/">
                <img class="pokemon-card-preview" src="<%- product.imagepath %>" alt="<%- product.product %>" />
            </a>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="mb-0">
                    <strong><%- product.product %></strong>
                    <span class="badge <%- product.type %>"><%- product.type %></span>
                </p>
                <p>€<%- product.price %>.00
                </p>
            </div>
        </div>
        <%});%>
</div>
</div>